<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <title>تربتی | Torbatti</title>
    <meta name="description" content="">

    <!-- <meta name="robots" content="noarchive , noimageindex" /> -->

    <!-- PreLoads -->
    <link rel="preload" href="/public/fonts/Vazirmatn[wght].woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href='/public/styles/main.css' as="style" type='text/css' media='screen' crossorigin />
    <link rel="preload" href="/public/libs/htmx.min.js" as="script"  crossorigin />


    <!-- Fonts -->

    <!-- Stylesheets -->
    <link rel="stylesheet" type='text/css' media='screen' href='/public/styles/main.css' />

    <!-- Scripts -->
    <script src='/public/libs/htmx.min.js'></script>

</head>
<body>
<div class="box">

    <div id="header" class="box-rtl">
        <p><a href="/">تربتی</a></p>
    </div>

    <div id="shro-man" class="box-rtl">
		<p>آریا بختیاری</p>
		<p>طراح , نویسنده</p>
		<p>برنامه نویس</p>
	</div>

	<div id="content_list" class="box-rtl">
		<h1>-=- پیوندها -=-</h1>

		<p><a href="http://github.com/torbatti" target="_blank" rel="noopener noreferrer"> - گیت هاب</a></p>
		<!-- <p><a href="/aine">آینه ها</a></p> -->
	</div>

    <!-- <div id="content_list" hx-get="/hx/content/list" hx-trigger="load" hx-target="this" hx-swap="innerHtml"></div> -->

    <div id="content_list" class="box-rtl">
        <h1>-=- زبان های گفتاری -=-</h1>
        <p hx-get="/hx/content/show/zaban-arabic.md" hx-trigger="click" hx-target="#content_show" hx-swap="innerHtml"> - زبان گفتاری عربی</p>
        <p hx-get="/hx/content/show/zaban-chinese.md" hx-trigger="click" hx-target="#content_show" hx-swap="innerHtml"> - زبان گفتاری چینی</p>
        <p hx-get="/hx/content/show/zaban-english.md" hx-trigger="click" hx-target="#content_show" hx-swap="innerHtml"> - زبان گفتاری انگلیسی</p>
        <p hx-get="/hx/content/show/zaban-hebrew.md" hx-trigger="click" hx-target="#content_show" hx-swap="innerHtml"> - زبان گفتاری عبری</p>
        <p hx-get="/hx/content/show/zaban-parsi.md" hx-trigger="click" hx-target="#content_show" hx-swap="innerHtml"> - زبان گفتاری پارسی</p>
        <p hx-get="/hx/content/show/zaban-russian.md" hx-trigger="click" hx-target="#content_show" hx-swap="innerHtml"> - زبان گفتاری روسی</p>
    </div>

    <div id="content_list" class="box-rtl">
        <h1>-=- زبان های برنامه نویسی -=-</h1>
        <p hx-get="/hx/content/show/zbn-c.md" hx-trigger="click" hx-target="#content_show" hx-swap="innerHtml"> - زبان برنامه نویسی سی</p>
        <p hx-get="/hx/content/show/zbn-cpp.md" hx-trigger="click" hx-target="#content_show" hx-swap="innerHtml"> - زبان برنامه نویسی سی پلاس پلاس</p>
        <p hx-get="/hx/content/show/zbn-go.md" hx-trigger="click" hx-target="#content_show" hx-swap="innerHtml"> - زبان برنامه نویسی گو</p>
        <p hx-get="/hx/content/show/zbn-js.md" hx-trigger="click" hx-target="#content_show" hx-swap="innerHtml"> - زبان برنامه نویسی جاوا اسکریپت</p>
        <p hx-get="/hx/content/show/zbn-rust.md" hx-trigger="click" hx-target="#content_show" hx-swap="innerHtml"> - زبان برنامه نویسی راست</p>
        <p hx-get="/hx/content/show/zbn-zig.md" hx-trigger="click" hx-target="#content_show" hx-swap="innerHtml"> - زبان برنامه نویسی زیگ</p>
    </div>

    <div id="content_list" class="box-rtl">
        <h1>-=- طاقچه -=-</h1>
        <p hx-get="/hx/content/show/taagche-bazi.md" hx-trigger="click" hx-target="#content_show" hx-swap="innerHtml"> - طاقچه بازی</p>
        <p hx-get="/hx/content/show/taagche-mosavar.md" hx-trigger="click" hx-target="#content_show" hx-swap="innerHtml"> - طاقچه مصورها</p>
        <p hx-get="/hx/content/show/taagche-namavaha.md" hx-trigger="click" hx-target="#content_show" hx-swap="innerHtml"> - طاقچه نماواها</p>
        <!-- <p hx-get="/hx/content/show/taagche-bazi.md" hx-trigger="click" hx-target="#content_show_rtl" hx-swap="innerHtml"> - طاقچه بازی</p> -->
        <!-- <p hx-get="/hx/content/show/taagche-mosavar.md" hx-trigger="click" hx-target="#content_show_rtl" hx-swap="innerHtml"> - طاقچه مصورها</p> -->
        <!-- <p hx-get="/hx/content/show/taagche-namavaha.md" hx-trigger="click" hx-target="#content_show_rtl" hx-swap="innerHtml"> - طاقچه نماواها</p> -->
    </div>

    <div id="content_list" class="box-rtl">
        <h1>|-- شروع محتوا --|</h1>
    </div>
    <div id="content_show"></div>
    <!-- <div id="content_show_rtl"></div> -->
    <div id="content_list" class="box-rtl">
        <h1>|-- پایان محتوا --|</h1>
    </div>

    <div id="footer" class="box-rtl">
		<p>طراحی و طراحی</p>
		<p class="eshg">با عشق</p>
		<p>آریا بختیاری</p>
	</div>

    <!-- <div class="root"></div> -->
    <!-- <script src='public/scripts/app.js'></script> -->

</div>
</body>
</html>