<div id="content_list">

<h1>
<p 
hx-get="/hx/fa/content/zbngo"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">

#
زبان برنامه نویسی گو
#

</p>
</h1>




<h1>
مربوط به تمپلیت و اچ تی ام ال
</h1>
<p 
hx-get="/hx/fa/content/zbngo/htmltempl"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- تمپلیت | html/template
</p>
<p 
hx-get="/hx/fa/content/zbngo/ahtempl"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- تمپل | a-h/Templ
</p>



<h1>
مربوط به پایگاه داده
</h1>
<p 
hx-get="/hx/fa/content/zbngo/sqlite"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- سیکولایت | Sqlite
</p>
<p 
hx-get="/hx/fa/content/zbngo/sqlc"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- سیکولسی | Sqlc
</p>
<p 
hx-get="/hx/fa/content/zbngo/gorm"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- گورم | Gorm
</p>

<h1>
بقیه
</h1>
<p 
hx-get="/hx/fa/content/zbngo/form"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
-  فرم ها | Forms
</p>
<p 
hx-get="/hx/fa/content/zbngo/header"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
-  راس ها | Headers
</p>
<p 
hx-get="/hx/fa/content/zbngo/cookie"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- کلوچه ها | Cookies 
</p>


<p 
hx-get="/hx/fa/content/zbngo/env"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- محیط | Env
</p>

<p 
hx-get="/hx/fa/content/zbngo/json"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- جیسان | Json
</p>
<p 
hx-get="/hx/fa/content/zbngo/json"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- فایل ها | Files
</p>

</div>
