<div id="shro-man" class="box-rtl">
    <p>آریا بختیاری</p>
    <p>طراح , نویسنده</p>
    <p>برنامه نویس</p>
</div>

<div id="content_list" class="box-rtl">
    <h1>-=- زبان ها | Languages -=-</h1>

    <a href="/">فارسی</a>
    <a href="/en">English</a>
</div>

<div id="content_list" class="box-rtl">
    <h1>-=- پیوندها -=-</h1>

    <p><a href="http://github.com/torbatti" target="_blank" rel="noopener noreferrer"> گیت هاب</a></p>
    <!-- <p><a href="/aine">آینه ها</a></p> -->
</div>

<!-- <div id="content_list" hx-get="/hx/content/list" hx-trigger="load" hx-target="this" hx-swap="innerHtml"></div> -->


<div id="content_list" class="box-rtl">
    <h1>-=- زبان های برنامه نویسی -=-</h1>
    <p hx-get="/hx/fa/content/zbnc" hx-trigger="click" hx-target="#turtle" hx-swap="innerHtml" preload="mouseover"> زبان برنامه نویسی سی</p>
    <p hx-get="/hx/fa/content/zbncpp" hx-trigger="click" hx-target="#turtle" hx-swap="innerHtml" preload="mouseover"> زبان برنامه نویسی سی پلاس پلاس</p>
    <p hx-get="/hx/fa/content/zbngo" hx-trigger="click" hx-target="#turtle" hx-swap="innerHtml" preload="mouseover"> زبان برنامه نویسی گو</p>
    <p hx-get="/hx/fa/content/zbnjs" hx-trigger="click" hx-target="#turtle" hx-swap="innerHtml" preload="mouseover"> زبان برنامه نویسی جاوا اسکریپت</p>
    <p hx-get="/hx/fa/content/zbnrust" hx-trigger="click" hx-target="#turtle" hx-swap="innerHtml" preload="mouseover"> زبان برنامه نویسی راست</p>
    <p hx-get="/hx/fa/content/zbnzig" hx-trigger="click" hx-target="#turtle" hx-swap="innerHtml" preload="mouseover"> زبان برنامه نویسی زیگ</p>
</div>

<div id="content_list" class="box-rtl">
    <h1>-=- طاقچه -=-</h1>
    <p hx-get="/hx/fa/content/taagebazi" hx-trigger="click" hx-target="#turtle" hx-swap="innerHtml" preload="mouseover"> طاقچه بازی</p>
    <p hx-get="/hx/fa/content/taagemosavar" hx-trigger="click" hx-target="#turtle" hx-swap="innerHtml" preload="mouseover"> طاقچه مصورها</p>
    <p hx-get="/hx/fa/content/taagenamava" hx-trigger="click" hx-target="#turtle" hx-swap="innerHtml" preload="mouseover"> طاقچه نماواها</p>
    <!-- <p hx-get="/hx/fa/content/taagebazi" hx-trigger="click" hx-target="#turtle_rtl" hx-swap="innerHtml" preload="mouseover"> طاقچه بازی</p> -->
    <!-- <p hx-get="/hx/fa/content/taagemosavar" hx-trigger="click" hx-target="#turtle_rtl" hx-swap="innerHtml" preload="mouseover"> طاقچه مصورها</p> -->
    <!-- <p hx-get="/hx/fa/content/taagenava" hx-trigger="click" hx-target="#turtle_rtl" hx-swap="innerHtml" preload="mouseover"> طاقچه نواها</p> -->
</div>


<div id="content_list" class="box-rtl">
    <h1>-=- زبان های گفتاری -=-</h1>
    <p hx-get="/hx/fa/content/zabanparsi" hx-trigger="click" hx-target="#turtle" hx-swap="innerHtml" preload="mouseover"> زبان گفتاری پارسی</p>
    <p hx-get="/hx/fa/content/zabanenglish" hx-trigger="click" hx-target="#turtle" hx-swap="innerHtml" preload="mouseover"> زبان گفتاری انگلیسی</p>
    <p hx-get="/hx/fa/content/zabanarabic" hx-trigger="click" hx-target="#turtle" hx-swap="innerHtml" preload="mouseover"> زبان گفتاری عربی</p>
    <p hx-get="/hx/fa/content/zabanchinese" hx-trigger="click" hx-target="#turtle" hx-swap="innerHtml" preload="mouseover"> زبان گفتاری چینی</p>
    <p hx-get="/hx/fa/content/zabanrussian" hx-trigger="click" hx-target="#turtle" hx-swap="innerHtml" preload="mouseover"> زبان گفتاری روسی</p>
    <p hx-get="/hx/fa/content/zabanhebrew" hx-trigger="click" hx-target="#turtle" hx-swap="innerHtml" preload="mouseover"> زبان گفتاری عبری</p>
</div>