<div id="content_list">
    <h1>-=- زبان ها | Languages -=-</h1>

    <a href="/en">English</a>
    <a href="/">فارسی</a>
</div>


<div id="content_list">
    <h1>-=- Links -=-</h1>

    <p><a href="http://github.com/torbatti" target="_blank" rel="noopener noreferrer">Github: torbatti</a></p>
    <!-- <p><a href="/aine">آینه ها</a></p> -->
</div>

<div id="content_list">
    <p hx-get="/hx/en/content/test" hx-trigger="click" hx-target="#turtle" hx-swap="innerHtml" preload="mouseover"> test </p>
</div>


<!-- <div id="content_list" hx-get="/hx/content/list" hx-trigger="load" hx-target="this" hx-swap="innerHtml"></div> -->
