<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <!-- PreLoads -->
        <link rel="preload" href="/public/fonts/Vazirmatn[wght].woff2" as="font" type="font/woff2" crossorigin />
        <link rel="preload" href='/public/styles/main.css' as="style" type='text/css' media='screen' crossorigin />
        <link rel="preload" href="/public/libs/htmx.min.js" as="script"  crossorigin />

        <!-- Fonts -->

        <!-- Stylesheets -->
        <link rel="stylesheet" type='text/css' media='screen' href='/public/styles/main.css' />

        <!-- Scripts -->
        <script src='/public/libs/htmx.min.js'></script>
    </head>

    <body>

    </body>
</html>