.box{width:calc(100% - .5rem);margin:auto;}
@media screen and (min-width:719px)     {.box{width: calc(720px - .75rem);}}
@media screen and (min-width:1079px)    {.box{width: calc(1080px - .75rem);}}


.text-box{width:calc(100% - .5rem);margin:auto;}
@media screen and (min-width:719px)     {.text-box{width: calc(720px - .75rem);}}
