---

---
<header>
<div id="header" class="box">

    <div>
        <p><a href="/">تربتی</a></p>
    </div>
    
    <div>

    </div>
    
</div>
</header>

<style>
    header{
        background-color:var(--c01);
        color:var(--c02);
    }
    #header{
        height:3rem;

        display:flex;
        align-items:center;

        font-size:large;
        font-weight:bold;
    }
</style>