<div id="content_list">
<h1>
<p 
hx-get="/hx/fa/content/taagebazi"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">

#
طاقچه بازی
#

</p>
</h1>


<h1>تیم ها</h1>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
-  تیم آیس پیک لاج | Ice-Pick Lodge
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamico"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
-  تیم ایکو | Team Ico 
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamwarp"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
-  تیم وارپ | Team Warp
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamsilent"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
-  تیم سایلنت | Team Silent
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamcyanworlds"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
-  تیم سیان ورلدز | Cyan Worlds
</p>










<h1>مجموعه ها</h1>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
-  مجموعه سیبریا | Syberia
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
-  مجموعه کودلکا | Koudelka
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
-  مجموعه آسمان های آرکیدیا | Skies of Arcadia
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
-  مجموعه باروک | Baroque
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
-  مجموعه میراث کین | Legact of Kain
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
-  مجموعه پنزر دراگون | Panzer Dragoon
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- مجموعه شب ها | Nights
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- مسیر تالوسه | The Talos Principle
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
-  مجموعه رانده شده | Outcast
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
-  مجموعه کرونو | Chrono
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
-  مجموعه اویسیس | Oasis
</p>










<h1>کنسول ها</h1>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- کنسول پلی استیشن یک | Psx
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- کنسول پلی استیشن دو | Ps2
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- کنسول پلی استیشن سه | Ps3
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- کنسول سگا جنسیس | Sega Genesis
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- کنسول سگا سترن | Sega Saturn
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- کنسول دریمکست | Dreamcast
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- کنسول ایکس باکس | Xbox
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- کنسول ایکس باکس 360 | Xbox 360
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- کنسول نس | Nes
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- کنسول اسنس | Snes
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- کنسول ان 64 | N64
</p>
<p 
hx-get="/hx/fa/content/taagebazi/teamicepicklodge"
hx-trigger="click" 
hx-target="#turtle" 
hx-swap="innerHtml" 
preload="mouseover">
- کنسول گیم کیوب | Gamecube
</p>
</div>
