*,
*::after,
*::before {
  box-sizing:   border-box;
  margin:       0;
  padding:      0;
  font:         inherit;
}
*{
  padding:0;
  margin:0;
  border: 0;
  box-sizing:border-box;
	font-size: 100%;
	font: inherit;
  vertical-align:baseline;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/public/fonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
  url('/public/fonts/Vazirmatn[wght].woff2') format('woff2-variations');
  /* src: url('/public/fonts/Vazirmatn[wght].woff2') format('woff2-variations'); */
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

#turtle-shell{font-family:Vazirmatn,sans-serif;}
@media screen and (min-width: 720px) {
  #turtle-shell{
    margin:auto;
    width:720px;
    display:flex;
  }
  #turtle-shell #shell{
    box-sizing: border-box;
    /* background-color:red; */
    padding:2px 4px;
    font-size:small;
    width:240px;
  }
  #turtle-shell #turtle{
    width:480px;
  }
}

.rtl{direction:rtl !important;}
.ltr{direction:ltr !important;}

/* #header p a{font-weight:bold;} */

/* turtle-shell Shell */
#turtle-shell #shell #shell-listbox h1{font-weight:bold;padding:.5rem 0;}
#turtle-shell #shell #shell-listbox p{padding:.25rem;}
#turtle-shell #shell #shell-listbox a{padding:.25rem;color:black;}
#turtle-shell #shell #shell-listbox p:hover{text-decoration:underline;cursor: pointer;}
#turtle-shell #shell #shell-header p a{display:inline-block;font-weight:bold;color:black;padding:.75rem .5rem;}

/* turtle-shell Turtle */
#turtle-shell #turtle h1,
#turtle-shell #turtle h2,
#turtle-shell #turtle h3
{font-weight:bold;padding:.25rem;}
#turtle-shell #turtle p{padding:.25rem;}


body.lang-fa{direction:rtl;}
body.lang-en{direction:ltr;}