/* #body-box{} */
@media screen and (min-width: 720px) {
  #body-box{
    margin:auto;
    width:720;
    display:flex;
  }
  #body-box #shell{
    box-sizing: border-box;
    /* background-color:red; */
    padding:2px 4px;
    font-size:small;
    width:240px;
  }
  #body-box #turtle{
    width:480px;
  }
}

#body-box #shell *,
#body-box #shell *::after,
#body-box #shell *::before {
  box-sizing:   border-box;
  margin:       0;
  padding:      0;
  font:         inherit;
}
#body-box #shell *{
  padding:0;
  margin:0;
  border: 0;
  box-sizing:border-box;
	font-size: 100%;
	font: inherit;
  vertical-align:baseline;
}
#body-box #shell{font-family:Vazirmatn,sans-serif;}

@font-face {
    font-family: 'Vazirmatn';
    src: url('/public/fonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
    url('/public/fonts/Vazirmatn[wght].woff2') format('woff2-variations');
    /* src: url('/public/fonts/Vazirmatn[wght].woff2') format('woff2-variations'); */
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

.box{width:320px;margin:auto;}
@media screen and (min-width: 720px) {.box{width:640px;}}


#header p a{font-weight:bold;}


#body-box #shell #content_list h1{font-weight:bold;padding:.5rem 0;}
#body-box #shell #content_list p{padding:.25rem;}
#body-box #shell #content_list a{padding:.25rem;color:black;}
#body-box #shell #content_list p:hover{text-decoration:underline;cursor: pointer;}

#body-box.fa #shell #content_show_rtl{direction:rtl;}
#body-box.en #shell #content_show_rtl{direction:ltr;}

#body-box #shell #shell-header p a{display:inline-block;font-weight:bold;color:black;padding:.75rem .5rem;}